<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>

<html>

<head>
    <title>MMR-Assisted Summarization</title>
    <!-- <meta name="description" content="A cool thing made with Glitch"> -->
    <!-- <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>
<!--Upload text Modal--->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="False">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Copy the text of the chapter you want to summarize here to get started </h5>
                <button type="button" id="btn-modal-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" placeholder="Raw Chapter Text" id="rawdoctextarea" style="height:400px;"></textarea>
            </div>

            <div class="modal-footer">
                <div class="row" style="width:100%">
                    <div class="col-8">
                        <button type="button" class="btn btn-light" id="demo-1">Covid</button>
                        <button type="button" class="btn btn-light" id="demo-2">Chapter 2</button>
                        <button type="button" class="btn btn-light" id="demo-3">Chapter 3</button>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <button type="button" id="upload_button_modal" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body>


    <div class="container-md py-3">
        <h1 class="text-center">
            AI Aided Annotation
        </h1>
    </div>
    </header>

    <main>

        <!--
      See:
      https://getbootstrap.com/docs/5.1/layout/grid/
      https://getbootstrap.com/docs/5.1/layout/gutters/
      -->
        <!-- Button trigger modal -->
        <div class="px-5 py-5 border">
            <!-- TOP ROW (upload, query, auto-populate slider) -->
            <div class="row gx-2 py-3">
                <div class="col-md-2">
                    <div class="p-1">
                        <button type="text" id="upload-button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Upload
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-1">
                        <div class="row">
                            <div class="col-10">
                                <label for="query1" class="col-form-label">Query</label>
                                <select id="query1" multiple width=400>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-1">
                        <div class="row">
                            <div class="col-8">
                                Number of Auto-populate Sentences
                                <input type="range" min="1" max="15" class="form-range align-middle" id="autoPopulateSlider" />
                                <p>Value: <span id="auto_value"></span></p>
                            </div>
                            <div class="col-8">
                                Number of Similar Selected Sentences
                                <input type="range" min="1" max="15" class="form-range align-middle" id="similarSentencesSlider" />
                                <p>Value: <span id="sim_value"></span></p>
                            </div>
                            <script>
                                var slider = document.getElementById("similarSentencesSlider");
                                var output = document.getElementById("sim_value");
                                output.innerHTML = slider.value;

                                slider.oninput = function() {
                                    output.innerHTML = this.value;
                                }

                                var slider2 = document.getElementById("autoPopulateSlider");
                                var output2 = document.getElementById("auto_value");
                                output2.innerHTML = slider2.value;

                                slider2.oninput = function() {
                                    output2.innerHTML = this.value;
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF TOP ROW (upload, query, lambda slider) -->

            <!-- MIDDLE ROW (chapter, ranking, summary) -->
            <div class="row py-3 gx-2">
                <div class="col-md-4">
                    <h3>Chapter</h3>
                    <div class="p-2 border middle-row" id="chapter-view">
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Top Sentences</h3>
                    <div class="p-2 border middle-row" id="ranking-view">
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 id="summary-header">Selected Sentences</h3>
                    <div class="p-2 border middle-row" id="summary-view">
                        <div class="p-2 summary-default">Drag sentences here to create your summary. </div>
                    </div>
                </div>
                <div style="clear: both; text-align: right;">
                    <button id="auto-populate-button" class="btn btn-primary mt-2" style="width: 150px;">
                        Auto Populate
                    </button>
                    <button id="next-button" class="btn btn-primary mt-2" style="width: 150px;">
                        Next
                    </button>
                </div>
            </div>
            <!-- END OF MIDDLE ROW (chapter, ranking, summary) -->
            <div class="col-md-3">
                <div class="p-1">
                    <div class="row">
                        <div class="col-10">
                            <label for="query2" class="col-form-label">Query</label>
                            <select id="query2" multiple width=400>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOTTOM ROW (2nd query, generated-summary, data) -->
            <div class="row py-3 gx-2" id="scroll-here">
                <div class="col">
                    <h3>Generated Summary</h3>
                    <div class="p-2 border bottom-row" id="generated-summary-view">
                        <div class="p-2 summary-default">Press Next to bring sentences here</div>
                    </div>
                </div>
                <div class="col">
                    <h3>Jeopardy
                        <button id="new-question-button" class="btn btn-primary" style="width: 150px;">
                                New Question
                        </button>
                    </h3>

                    <div class="p-2 border bottom-row" id="data-view">
                        <div class="p-2 summary-default">Add the rich data here</div>
                    </div>

                </div>
                <div style="clear: both; text-align: right;">
                    <button id="export-button" class="btn btn-primary mt-2">
                        Export
                    </button>
                </div>
            </div>
            <!-- END OF BOTTOM ROW (generated-summary, data) -->

        </div>

        <footer>
            <!-- <a href="https://glitch.com">
        Remix this in Glitch
      </a> -->
        </footer>

        <!-- Your web-app is https, so your scripts need to be too -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
        <!--       <script src="/public/top_sentences.js"></script> :) -->
        <!--       <script src="/public/demo_article.js"></script> -->
        <script src="/public/client.js" type="module"></script>
        <script src="../js/bootstrap-tagsinput.js"></script>
    </main>
</body>

</html>